node-red/flows-share.json
[
    {
        "id": "abcbce41.9ec42",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e9ed947.75a1d8",
        "type": "http request",
        "z": "abcbce41.9ec42",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "faf42f02.54b35"
            ]
        ]
    },
    {
        "id": "de7c3dca.00c0a",
        "type": "debug",
        "z": "abcbce41.9ec42",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "b5e15849.329db8",
        "type": "inject",
        "z": "abcbce41.9ec42",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "5011cd39.1ac194"
            ]
        ]
    },
    {
        "id": "5011cd39.1ac194",
        "type": "function",
        "z": "abcbce41.9ec42",
        "name": "",
        "func": "// header設定\nmsg.headers = {};\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['Content-Type'] = \"application/x-www-form-urlencoded\";\n\n// apikey設定\nvar apikey = \"xxxx\";\nmsg.payload = \"apikey=\" + apikey + \"&grant_type=urn:ibm:params:oauth:grant-type:apikey\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "9e9ed947.75a1d8"
            ]
        ]
    },
    {
        "id": "faf42f02.54b35",
        "type": "function",
        "z": "abcbce41.9ec42",
        "name": "",
        "func": "// token取得\nvalue = JSON.parse(msg.payload);\nconsole.log(value);\nconsole.log(value[\"access_token\"]);\nvar token = value.access_token;\n\n// header設定\nmsg.headers = {};\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['Authorization'] = 'Bearer ' + token;\n\n// data設定\nmsg.payload = '{\"input_data\": [{\"values\": [[6.9, 3.1, 5.4, 2.1], [4.4, 2.9, 1.4, 0.2]]}]}'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "3446347a.90f4ec"
            ]
        ]
    },
    {
        "id": "3446347a.90f4ec",
        "type": "http request",
        "z": "abcbce41.9ec42",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "xxxx",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "de7c3dca.00c0a"
            ]
        ]
    }
]